* {
  font-family: "Arial", sans-serif;
  border: 1px solid black;
}

body {
  display: flex;
}

.mainSection {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
}

.all-color-boxes {
  display: flex;
  justify-content: space-evenly;
}

.box {
  width: 200px;
  height: 200px;
}

.color-and-lock {
display: flex;
flex-direction: flex-end;
}

.individual-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 200px;
  height: 200px;
}

h2 {
  font-size: 12px;
  width: 150px;
  height: 40px;
  text-align: center;
  align-self: flex-end;
}

.individual-box:nth-child(1) {
  background-color: red;
}

.individual-box:nth-child(2) {
  background-color: green;
}

.individual-box:nth-child(3) {
  background-color: pink;
}

.individual-box:nth-child(4) {
  background-color: yellow;
}

.individual-box:nth-child(5) {
  background-color: purple;
}

.hidden {
  display: none!important;
}
