* {
  font-family: 'Arial', sans-serif;
  border: 1px solid red;

}
body {
  display: flex;
}
h2 {
  font-size: 12px;
  height: 40px;
  width:200px;
  text-align: center;
}
.hidden{
  display: none!important;
}
.mainSection {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
}
.all-color-boxes {
  display: flex;
  justify-content: space-evenly;
}
.box{
  width: 200px;
  height: 200px;
}
.color-and-lock {
  display: flex;
  justify-content: flex-end;
}

.individual-box {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.individual-box:nth-child(1) {
  background-color: red;
}
.individual-box:nth-child(2) {
  background-color: orange;
}
.individual-box:nth-child(3) {
  background-color: yellow;
}
.individual-box:nth-child(4) {
    background-color: green;
}
.individual-box:nth-child(5) {
  background-color: blue;
}
