* {
  font-family: 'Marker Felt', sans-serif;
  border: 1px solid red;
}

body {
  display: flex;
  background: url('https://user-images.githubusercontent.com/103063934/171786178-a3f0810e-4fe1-489a-aed9-0d20bc58261b.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
}

h1 {
  font-size: 5em;
  background: linear-gradient(to right, #818589, #A9A9A9, #C0C0C0, #D3D3D3, #E5E4E2, #E5E4E2, #D3D3D3, #C0C0C0, #A9A9A9, #818589);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2.5px;
  -webkit-text-stroke-color: black;
}

h2 {
  font-size: 1rem;
  text-align: center;
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-size: 1.25em;
  color: black;
  background-color: white;
  padding: 10px;
  box-shadow: 4px 4px;
}

button:hover {
  transform: scale(1.25);
  background: linear-gradient(to right, #C0C0C0, #D3D3D3, #E5E4E2, #E5E4E2, #D3D3D3, #C0C0C0);
}

button:active {
  color: white;
  background: linear-gradient(to right, #000000, #818589, #A9A9A9, #A9A9A9, #818589, #000000);
}

h4 {
  text-align: center;
  font-size: 2.5em;
  background: linear-gradient(to right, #818589, #A9A9A9, #C0C0C0, #D3D3D3, #E5E4E2, #E5E4E2, #D3D3D3, #C0C0C0, #A9A9A9, #818589);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 80vw;
}

.all-color-boxes {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 50vh;
  width: 80vw;
}

.color-box{
  aspect-ratio: 1/1;
  min-width: max-content;
  border: 1px solid black;
}

.button-section {
  width: 80vw;
  display: flex;
  justify-content: space-evenly;
}

.color-and-lock {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.individual-box {
  display: flex;
  flex-direction: column;
  min-width: 12vw;
  max-width: 90vw;
  height: auto;
}

.lock-button {
  width: 20%;
  height: auto;
  margin: 1%;
}

.lock-button:hover {
  transform: scale(1.1);
}

.saved-section {
  text-align: center;
  height: 100vh;
  width: 20vw;
  border-left: 3px solid #000000;
}

.mini-palette {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.mini-box {
  aspect-ratio: 1/1;
  width: 2.5vw;
  border: 2px solid #000000;
}
