* {
  font-family: 'Genos', sans-serif;
  /* border: 1px solid red; */
}

body {
  background: url('./assets/colorandom-bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  font-size: 100%;
  margin: 0px;
}

main {
  display: flex;
}

header {
  display: flex;
}

h1 {
  font-family: 'Skranji', cursive;
  font-size: min(10vw, 95px);
  padding: 2rem 0;
  margin-bottom: 0;
  margin-top: 0;
}

h2 {
  font-size: min(7vw, 2rem);
  text-align: center;
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-size: 1.25em;
  color: black;
  background-color: white;
  padding: 10px;
  box-shadow: 4px 4px;
}

button:hover {
  transform: scale(1.25);
  background: linear-gradient(to right, #C0C0C0, #D3D3D3, #E5E4E2, #E5E4E2, #D3D3D3, #C0C0C0);
}

button:active {
  color: white;
  background: linear-gradient(to right, #000000, #818589, #A9A9A9, #A9A9A9, #818589, #000000);
}

h4 {
  text-align: center;
  font-size: min(4vw, 3em);
  color: black;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.colo {
  color: #000000;
}

.random {
  -webkit-text-stroke: 3px #000000;
}

.r {
  color: #ff0000ab;
}

.a {
  color: #ffa500ab;
}

.n {
  color: #ffff00ab;
}

.d {
  color: #008000ab;
}

.o {
  color: #0000ffab;
}

.m {
  color: #800080ab;
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  width: 80vw;
}

.all-color-boxes {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 1rem;
}

.individual-box {
  display: flex;
  flex-direction: column;
  min-width: 12vw;
  max-width: 90vw;
  height: auto;
}

.color-box{
  aspect-ratio: 1/1;
  width: 100%;
  border: 2px solid black;
}

.button-section {
  width: 80vw;
  margin: 2em;
  display: flex;
  justify-content: space-evenly;
}

.color-and-lock {
  display: flex;
  box-sizing: content-box;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.lock-button {
  width: 20%;
  height: auto;
  margin-left: .25rem;
}

.lock-button:hover {
  transform: scale(1.1);
}

.saved-section {
  text-align: center;
  height: 100vh;
  width: 20vw;
  border-left: 3px solid #000000;
}

.mini-palette {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.mini-box {
  aspect-ratio: 1/1;
  width: 2.5vw;
  border: 2px solid #000000;
}

@media (max-width: 880px) {
  .all-color-boxes {
    grid-template-columns: repeat(2, 1fr);
  }

}

